## Tuples are not just immutable lists

Some introductory texts about Python present tuples as “immutable lists”, but that is
short selling them. Tuples do double-duty: they can be used as immutable lists and also
as records with no field names. This use is sometimes overlooked, so we will start with
that.

### Tuples as records

#### Example 2-7. Tuples used as records.

In [12]:
# Latitude and longitude of the Los Angeles International Airport
lax_coordinates = (33.9425, -118.408056)

# Data about Tokyo: name, year, population (millions), population change (%),area (km²).
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

# A list of tuples of the form (country_code, passport_number).
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    # The % formatting operator understands tuples and treats each item as a separate field.
    print('%s/%s' % passport)
    # print(f"{passport[0]}/{passport[1]}")

BRA/CE342567
ESP/XDA205856
USA/31195855

In [4]:
# The for loop knows how to retrieve the items of a tuple separately — this is called “unpacking”. 
# Here we are not interested in the second item, so it’s assigned to _, a dummy variable.
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

## Tuple unpacking

In [13]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
latitude

33.9425

In [14]:
longitude

-118.408056

#### Prefixing an argument with a star when calling a function:

In [15]:
divmod(20, 8)

(2, 4)

In [17]:
t = (20, 8)
divmod(*t)

(2, 4)

In [18]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

The code above also shows a further use of tuple unpacking: enabling functions to return
multiple values in a way that is convenient to the caller. For example, the
os.path.split() function builds a tuple (path, last_part) from a filesystem path.

In [22]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
_,filename

('/home/luciano/.ssh', 'idrsa.pub')

### Using * to grab excess items

- Defining function parameters with *args to grab arbitrary excess arguments is a classic Python feature.

In [24]:
a, b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [25]:
a, b, *rest = range(3)
a,b,rest

(0, 1, [2])

In [27]:
a, b, *rest = range(2)
a,b,rest

(0, 1, [])

In the context of parallel assignment, the * prefix can be applied to exactly one variable,
but it can appear in any position:

In [29]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [30]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### Nested tuple unpacking

> The tuple to receive an expression to unpack can have nested tuples, like (a, b, (c,d)) and Python will do the right thing if the expression matches the nesting structure.

#### Example 2-8. Unpacking nested tuples to access the longitude

In [34]:
# Each tuple holds a record with four fields, the last of which is a coordinate pair.
metro_areas = [
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), #
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

                |   lat.    |   long.

In [35]:
# By assigning the last field to a tuple, we unpack the coordinates.
for name, cc, pop, (latitude, longitude) in metro_areas:
# if longitude <= 0: limits the output to metropolitan areas in the Western hemisphere.
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### Named tuples

> **The collections.namedtuple function is a factory that produces subclasses of tuple
enhanced with field names and a class name — which helps debugging.**

#### Example 2-9. Defining and using a named tuple type

In [39]:
from collections import namedtuple
# Two parameters are required to create a named tuple: a class name and a list of field names, 
# which can be given as an iterable of strings or as a single spacedelimited string.
City = namedtuple('City', 'name country population coordinates')

# Data must be passed as positional arguments to the constructor (in contrast, the tuple constructor takes a single iterable)
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [40]:
# You can access the fields by name or position
tokyo.population

36.933

In [41]:
tokyo.coordinates

(35.689722, 139.691667)

In [43]:
tokyo[1]

'JP'

#### Example 2-10. Named tuple attributes and methods

In [45]:
City._fields # No.1

('name', 'country', 'population', 'coordinates')

In [47]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

delhi = City._make(delhi_data) # No.2

delhi._asdict() # No.3

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [48]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

- 1. _fields is a tuple with the field names of the class.
- 2. _make() lets you instantiate a named tuple from an iterable; City(*delhi_data) would do the same.
- 3. _asdict() returns a collections.OrderedDict built from the named tuple instance. That can be used to produce a nice display of city data

### Tuples as immutable lists

                          List   Tuple
    s.__add__(s2)            ●   ●  s + s2 — concatenation
    s.__iadd__(s2)           ●      s += s2 — in-place concatenation
    s.append(e)              ●      append one element after last
    s.clear()                ●      delete all items
    s.__contains__(e)        ●   ●  e in s
    s.copy()                 ●      shallow copy of the list
    s.count(e)               ●   ●  count occurrences of an element
    s.__delitem__(p)         ●      remove item at position p
    s.extend(it)             ●      append items from iterable it
    s.__getitem__(p)         ●   ●  s[p] — get item at position
    s.__getnewargs__()       ●      support for optimized serialization with pickle
    s.index(e)               ●   ●  find position of first occurrence of e
    s.insert(p, e)           ●      insert element e before the item at position p
    s.__iter__()             ●   ●  get iterator
    s.__len__()              ●   ●  len(s) — number of items
    s.__mul__(n)             ●   ●  s * n — repeated concatenation
    s.__imul__(n)            ●      s *= n — in-place repeated concatenation
    s.__rmul__(n)            ●   ●  n * s — reversed repeated concatenationa
    s.pop(«p»)               ●      remove and return last item or item at optional position p
    s.remove(e)              ●      remove first occurrence of element e by value
    s.reverse()              ●      reverse the order of the items in-place
    s.__reversed__()         ●      get iterator to scan items from last to first
    s.__setitem__(p, e)      ●      s[p] = e — put e in position p, overwriting existing item
    s.sort(«key», «reverse») ●      sort items in place with optional keyword arguments key and reverse